<div class="container is-fluid" id="content">
    <nav data-section-id="1" data-component-id="15a7_1_01_awz" data-category="navigations" class="navbar">
      <div class="container">
        <div class="navbar-menu">
          <div class="navbar-start"></div>
          <div class="navbar-brand">
              <h1 class="title">Tabela Salarial</h1>  
          </div>
          <div class="navbar-end"></div>
        </div>
      </div>
    </nav>
</div>
<div class="columns is-centered body-columns">
  <div class="column is-half">
    <div class="box">
      <div class="columns">
        <div class="column is-three-quarters">
          <div class="field">
            <label class="label">Salário Base</label>
            <div class="control">
              <input class="input" type="number" min="0" onkeydown="if(event.key===','){event.preventDefault();}" [(ngModel)]="salarioBase">
            </div>
          </div>
        </div>
        <div class="column is-one-quarter">
            <div class="field is-grouped ">
              <div class="control">
                <button type="button" (click)="getTabelaSalarial()" class="button is-link is-large">Atualizar</button>
              </div>
            </div>
        </div>
      </div>

        <div class="columns">
          <div class="column">
              <div class="field">
                <label class="label">Qtde de Classes</label>
                <div class="control">
                  <input class="input" type="number" onkeydown="if(event.key===','){event.preventDefault();}" min="0" [(ngModel)]="classes">
                </div>
              </div>
          </div>
          <div class="column">
              <div class="field">
                <label class="label">Qtde de Matrizes</label>
                <div class="control">
                  <input class="input" type="number" onkeydown="if(event.key===','){event.preventDefault();}" min="0" [(ngModel)]="matriz">
                </div>
              </div>
          </div>
          <div class="column">
              <div class="field">
                <label class="label">Qtde entre Faixas</label>
                <div class="control">
                  <input class="input" type="number" onkeydown="if(event.key===','){event.preventDefault();}" min="0" [(ngModel)]="faixas">
                </div>
              </div>
          </div>
          <div class="column">
              <div class="field">
                <label class="label">Total de Faixas</label>
                <div class="control">
                    <input class="input is-static" type="number" min="0" value="{{classes * faixas}}" readonly>
                </div>
              </div>
          </div>
        </div>

        <div class="columns">
          <div class="column">
              <div class="field">
                <label class="label">intersticio entre classes (%)</label>
                <div class="control">
                  <input class="input" type="number" onkeydown="if(event.key===','){event.preventDefault();}" min="0" [(ngModel)]="intersticioClasses">
                </div>
              </div>
          </div>
          <div class="column">
              <div class="field">
                <label class="label">intersticio entre Matrizes (%)</label>
                <div class="control">
                  <input class="input" type="number" onkeydown="if(event.key===','){event.preventDefault();}" min="0" [(ngModel)]="intersticioMatrixes">
                </div>
              </div>
          </div>
          <div class="column">
              <div class="field">
                <label class="label">intersticio entre faixas (%)</label>
                <div class="control">
                  <input class="input" type="number" onkeydown="if(event.key===','){event.preventDefault();}" min="0" [(ngModel)]="intersticio">
                </div>
              </div>
          </div>
        </div>

    </div>
  </div>
</div>
<div class="columns is-centered body-columns">
  <div class="column is-half">
    <div class="box">
      <div class="columns">
        <div class="column is-6">
          <p class="is-size-4"><span class="has-text-weight-bold">Impacto: </span> {{ getFormattedPrice(countImpact()) }}</p>
        </div>
        <div class="column is-3">
          <p class="is-size-4"><span class="has-text-weight-bold">Total: </span> {{ countQtde() }}</p>
        </div>
        <div class="column is-3">
            <div class="buttons">
                <button type="button" disabled (click)="print()" class="button is-link is-large"><i class="fas fa-print"></i></button>  
                <button type="button" disabled class="button is-link is-large"><i class="fas fa-file-pdf"></i></button>
                <button type="button" disabled class="button is-link is-large"><i class="fas fa-file-csv"></i></button>
            </div>
        </div>
      </div>
      
    </div>
  </div>
</div>
<div class="box">
    <div class="table-container" >
    <ng-container *ngFor="let classes of tabela; let classesIndex = index">
      <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth" style="padding-bottom: 10rem">
        <thead>
          <tr class="is-selected" >
            <th style="text-align: center;" [attr.colspan]="(faixasTableNumber * 2) + 1">Classe {{ classesIndex + 1 }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let matriz of classes; let matrizIndex = index">
            <ng-container *ngFor="let faixas of matriz; let faixasIndex = index">
                <td class="has-text-weight-bold is-selected" *ngIf="faixasIndex == 0" >{{ listMatricesNumeral[matrizIndex] }}</td>
                <td style="text-align: right;" > {{ getFormattedPrice(faixas) }} </td>
                <td><input style="width:4rem;" [(ngModel)]="tabelaQtde[classesIndex][matrizIndex][faixasIndex]" oninput="this.value=(parseInt(this.value)||0)" class="input" type="number" min="0" > </td>
            </ng-container>
          </tr>
          <tr class="is-selected" >
              <ng-container *ngFor="let element of getArrayLetters(faixasTableNumber); let elementIndex = index">
                <td *ngIf="elementIndex == 0" > # </td>
                <td class="has-text-weight-bold" style="text-align: center;" > {{ element }} </td>
                <td class="has-text-weight-bold" style="text-align: center;" > qtde </td>
              </ng-container>  
          </tr>
        </tbody>
      </table>
    </ng-container>

  </div>
</div>